@inherits LayoutComponentBase
@namespace FactoryProject.Components.Layout

<div class="container-fluid auth-layout">
   <div class="container d-flex justify-content-center align-items-center vh-100">
        @Body
   </div>
</div>

