@page "/order"

<PageTitle>Orders</PageTitle>

<h3>Orders</h3>
<div class="main-container">
    <div class="order-container">
        <div class="order-img">
            <img src="beyazpulcikolata.png" alt="Product image" />
        </div>
        <div class="order-details">
            <div><b>ÜLKER WHITE CHOCOLATE BUTTON</b></div>
            A delicious chocolate made with sugar, cocoa, cocoa butter.
            <div><strong>Price:</strong> 2673TL</div>
            <div><strong>Quantity:</strong> 50</div>
            <div><strong>Order Date:</strong> 2023-10-01</div>
        </div>
    </div>
</div>

@code {

}
