.order-main-container{
    display: grid;
    gap: 20px;
    margin-left: 230px;
    min-width: 490px;
}
.order-container {
    word-wrap:anywhere;
    border: 1px solid darkblue;
    display: flex;
    gap: 20px;
    height: 170px;
    align-items: center;
    padding: 10px;
    place-items: center;
    min-width: 400px;
    position: relative;
}
.order-img{
    height: 150px;
}

.order-img img {
    width: 150px;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 2000px) {
    .order-main-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1180px) {
    .order-main-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 729.98px) {
    .order-main-container {
        grid-template-columns: 1fr;
        margin-left: 0;
    }
}

.delivered-bage {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 2px;
    border: 1px solid darkblue;
    border-left: none;
    border-top: none;
}