@page "/account/accessdenied"
@layout AccesRefuseLayout
<PageTitle>Access Denied (403)</PageTitle>
<div class="container-fluid accessDenied">
        <div class="content">
            <div class="content-message col-lg-6 col-ms-12">
                <div>
                    <h4 class="title"> Access Denied 
                        <i class="fa-solid fa-triangle-exclamation ms-3"></i>
                    </h4>
                </div>
                <div class="code ">
                    <h1 class="text-code text-center">
                        <span class="text-danger">4</span>
                        <span class="text-warning">0</span>
                        <span class="text-info">3</span>
                    </h1>
                </div>
                <div>
                    <p class="message-phrase">
                        We are <span class="text-warning">Sorry</span>, but you don't have permissions to access to this page or ressources!
                    </p>
                </div>
                <div class="boutton">
                    <div class="row gap-2">
                        <div class="col-lg-6 col-ms-12">
                            <a class="btn btn-primary text-nowrap" href="/">
                                    <i class="fa-solid fa-store"></i>
                                    Home
                            </a>
                        </div>
                        <div class="col-lg-4 col-ms-12">
                            <a class="btn btn-info text-nowrap text-light" href="returlUrl">
                                <i class="fa-solid fa-arrow-left"></i>
                                    Get Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-ms-12">
                <img src="/src/accessdmedia.jpg" class="media-image">
            </div>
        </div>
</div>


@code{
    
}