@page "/notfound"
@layout AccesRefuseLayout
<PageTitle>Not Found (404) </PageTitle>


<div class="container-fluid accessDenied">
        <div class="content">
            <div class="content-message col-lg-6 col-ms-12">
                <div>
                    <h4 class="title"> Not Found Page
                        <i class="fa-solid fa-triangle-exclamation ms-3"></i>
                    </h4>
                </div>
                <div class="code ">
                    <h1 class="text-code text-center">
                        <span class="text-danger">4</span>
                        <span class="text-warning">0</span>
                        <span class="text-info">4</span>
                    </h1>
                </div>
                <div>
                    <p class="message-phrase">
                        We are <span class="text-warning">Sorry</span>, but the requested Page does Not exist!
                    </p>
                </div>
                <div class="boutton">
                    <a class="btn btn-primary text-nowrap" href="/">
                        <i class="fa-solid fa-store"></i>
                        Home
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-ms-12">
                <img src="/src/notfoundpage.jpg" class="media-image">
            </div>
        </div>
</div>