@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="page-top">
            <div class="search-bar"> 
                <img src="find.png" />
                <input type="search" name="search-bar" class="" placeholder="Search" />
            </div>
            <div class="navigation-item">
            <NavLink href="order">
                <div class="order-icon">
                    <img src="order.png" />
                </div> 
                <div>
                    Order
                </div>
            </NavLink>
            </div>
            <div class="navigation-item">
            <NavLink href="cart">
                <div>
                     <img src="shopping-cart.png" />
                </div> 
                <div>
                    Cart
                </div>
            </NavLink>
            </div>
            <div class="navigation-item">
            <NavLink href="profile">
                <div class="profile-icon">
                    <img src="user.png" /> 
                </div>
                <div>
                    Profile
                </div>
            </NavLink>
            </div>
            <div class="navigation-item">
            <NavLink href="$">
                <div class="logout-icon">
                    <img src="logout.png" />
                </div>
                <div>
                    Logout
                </div>
            </NavLink>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
