/* CreateBook.razor.css */
/* This CSS file styles the CreateBook component in a Blazor application. */
.title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(173, 62, 84);
    margin-bottom: 20px;
    text-align: center;
}

.form-container {
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-input {
    margin-bottom: 15px;
    border-radius: 6.5px;
    padding: 20px;
    height: 50px;
    font-size: 16px;
    border: none;
    transition: border-color 0.3s;
    display: block;
}

    .form-input.invalid {
        border: 1px solid #dc3545;
    }

    .form-input:focus {
        border-color: #b2d3f7;
        outline: none;
        border: none;
        box-shadow: 0 0 0 0.2rem rgba(2, 3, 3, 0.25);
    }
