.main-container[b-alrwdu2v4f]{
    display:grid;
    gap: 20px;
}

@media (max-width: 2000px) {
    .main-container[b-alrwdu2v4f] {
        grid-template-columns: 1.5fr 1fr;
    }
}
@media (max-width: 1060px){
    .main-container[b-alrwdu2v4f] {
        grid-template-columns: 1fr;
        place-items: center;
    }
    .product-total[b-alrwdu2v4f]{
        width:400px;
    }
    .product[b-alrwdu2v4f]{
        width: 400px;
    }
    .cart-product[b-alrwdu2v4f] {
        display: grid;
        gap: 10px;
    }
}

.product-total[b-alrwdu2v4f] {
    border: 1px solid purple;
    display: grid;
    min-width: 430px;
    padding: 20px;
    height: 330px;
}

.cart-product[b-alrwdu2v4f]{
    display: grid;
    gap:10px;
}

.product[b-alrwdu2v4f] {
    border: 1px solid darkblue;
    display: flex;
    min-width: 430px;
    padding: 10px;
    height: 178px;
    gap: 10px;
    justify-content: space-between;
}

.cart-total[b-alrwdu2v4f]{
    border-bottom: 1px solid rgb(200,200,200);
}

.cart-img[b-alrwdu2v4f]{
    margin-top: 3px;
    height: 150px;
    width: 140px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.cart-img img[b-alrwdu2v4f] {
    width: 150px;
    height: 100%;
    object-fit: contain;
}

.product-detail[b-alrwdu2v4f]{
    flex:1;
    display:flex;
    flex-direction:column;
}

.product-price[b-alrwdu2v4f] {
    color: darkred;
}

.cart-select[b-alrwdu2v4f]{
    padding:10px;
    
}

.cart-buttons[b-alrwdu2v4f] {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.cart-contianer[b-alrwdu2v4f] {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    margin: 50px;
    margin-top: 0;
    justify-content: center;
}


.summary-row[b-alrwdu2v4f] {
    display: grid;
    grid-template-columns: 6fr 1fr;
    margin-top: 10px;
    text-align:left;
}

.total-before-tax[b-alrwdu2v4f] {
    border-top: 1px solid rgb(218, 218, 218);
    padding-top: 6px;
}

.summary-row .product-price[b-alrwdu2v4f] {
    border-top: 1px solid rgb(218, 218, 218);
    padding-top: 30px;
    padding-bottom: 20px;
}

.order-button[b-alrwdu2v4f] {
    width: 100%;
}
