.main-container[b-ibemok96xv]{
    display: grid;
}
.order-container[b-ibemok96xv]{

    border: 1px solid darkblue;
    display: flex;
    gap: 20px;
    height: 170px;
    align-items:center;
    padding: 10px;
}
.order-img[b-ibemok96xv]{
    height: 150px;

}

.order-img img[b-ibemok96xv] {
    width: 150px;
    height: 100%;
    object-fit: contain;
}