@page "/biscuits"

<PageTitle>Biscuits</PageTitle>

<h3>Biscuits</h3>

<div class="main-container">
    <div class="product-container">
        <div class="product-img">
            <img src="beyazpulcikolata.png" alt="Product Image" />
        </div>
        <div class="product-name">
            <b>ÜLKER WHITE CHOCOLATE BUTTON</b>
        </div>
        <div class="product-price">
            891TL
        </div>
        <div class="product-detail">
            A delicious chocolate made with sugar, cocoa, cocoa butter.
        </div>
        <button class=" btn btn-primary">
            Add to cart
        </button>
    </div>
    <div class="product-container">
        <div class="product-img">
            <img src="beyazpulcikolata.png" alt="Product Image" />
        </div>
        <div class="product-name">
            <b>ÜLKER WHITE CHOCOLATE BUTTON</b>
        </div>
        <div>

        </div>
        <div class="product-price">
            891TL
        </div>
        <div class="product-detail">
            A delicious chocolate made with sugar, cocoa, cocoa butter.
        </div>
        <button class=" btn btn-primary">
            Add to cart
        </button>
    </div>
    <div class="product-container">
        <div class="product-img">
            <img src="beyazpulcikolata.png" alt="Product Image" />
        </div>
        <div class="product-name">
            <b>ÜLKER WHITE CHOCOLATE BUTTON</b>
        </div>
        <div class="product-price">
            891TL
        </div>
        <div class="product-detail">
            A delicious chocolate made with sugar, cocoa, cocoa butter.
        </div>
        <button class=" btn btn-primary">
            Add to cart
        </button>
    </div>
    <div class="product-container">
        <div class="product-img">
            <img src="beyazpulcikolata.png" alt="Product Image" />
        </div>
        <div class="product-name">
            <b>ÜLKER WHITE CHOCOLATE BUTTON</b>
        </div>
        <div class="product-price">
            891TL
        </div>
        <div class="product-detail">
            A delicious chocolate made with sugar, cocoa, cocoa butter.
        </div>
        <button class=" btn btn-primary">
            Add to cart
        </button>
    </div>
</div>

@code {

}
